* {
    outline: none;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font-header;
    src: url(font-header.ttf);
}

@font-face {
    font-family: font-body;
    src: url(font-body.ttf);
}

@font-face {
    font-family: font-regular;
    src: url(font-regular.ttf);
}

body {
    font-family: 'Raleway', 'Microsoft JhengHei', Arial, sans-serif;
    overflow: hidden;
}

#main {
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    align-content: center;
}

.bg {
    width: 90%;
    margin: auto;
    display: flex;
    align-content: center;
    background-color: #f2e9de;
}

.title {
    margin: 20px;
}

.title h1 {
    font-family: font-header;
    font-size: 2.5em;
}

.header {
    margin: 10px 0;
    font-family: font-regular;
    font-size: 1.5em;
}

.content {
    margin: 5px 0;
    font-family: font-body;
    font-size: 1.3em;
}